/*
!.gitignore
!system.mhs

!./SDK/HF/snake/src/io_lib/
!./SDK/HF/snake/src/lcd_lib/
!./SDK/HF/snake/src/
!pcores/

!/data/
SDK/HF/snake/src/lcd_lib/lcd_lib.c
SDK/HF/snake/src/lcd_lib/lcd_lib.c
SDK/HF/snake/src/lcd_lib/lcd_lib.c
